<!-- Compare section -->
<section id="compare" class="row padding-md text-center">
  <article class="white-bg col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center box-shadow padding-sm">
    <h1>Compare repositories</h1>
    <hr/>

    <section class="row">
      <article class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">

        <!-- Alert for empty repository input -->
        <div id="alert-empty-repository" class="alert alert-warning alert-dismissible collapse" role="alert">
          You must enter a repository.
        </div>

        <!-- Alert for existing repository input -->
        <div id="alert-exist-repository" class="alert alert-warning alert-dismissible collapse" role="alert">
          This repository is already selected !
        </div>

        <!-- Input UI -->
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">https://github.com/</span>
          <input type="text" class="form-control repository-input" placeholder="username/repository" aria-label="username/repository" aria-describedby="basic-addon1">
          <span class="input-group-addon" id="add-repository">Add</span>
        </div>
        <button id="compare-button" type="button" class="btn btn-primary btn-lg disabled margin-sm">Compare...</button>

        <!-- List of repositories to compare -->
        <article class="repository-list text-left">
          <h5>Repositories to compare:</h5>
          <ul class="list-group">
            <li class="list-group-item repository-list-item repository-list-item-template">
              <span class="url"></span>
              <span class="control control-delete">remove</span>
            </li>
          </ul>
        </article>

      </article> <!-- End of nested column -->
    </section> <!-- End of nested row -->

  </article>

  <form id="compare-form" class="hidden" action="/compare" method="POST">
    <input id="compare-json" type="text" name="repositories" value=""/>
    <input id="compare-submit" type="submit" value="Submit">
  </form>

</section>
