.repository-overview-container {
  padding: 2.5%;
}
.repository-overview {
  position: relative;
  padding: 5%;
  background-color: white;
}

.color-badge {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.color-badge-0 {
  background-color: #E4572E;
}
.color-badge-1 {
  background-color: #29335C;
}
.color-badge-2 {
  background-color: #F3A712;
}
.color-badge-3 {
  background-color: #A8C686;
}
.color-badge-4 {
  background-color: #669BBC;
}

.repository-overview h2 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.5em;
}
.repository-overview h3 {
  font-weight: bold;
  font-size: 1em;
  padding-left: 1.5em;
  margin-top: 0;

  background-size: 1em;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url('../img/user_github_icon.svg');
}
.repository-overview hr {
  display: block;
  width: 80%;
  margin-left: 0;
  height: 1px;
}

.repository-overview .repositiory-description {
  font-size: 1em;
  height: 3em;
  overflow: hidden;
}

/* CSS behaviour when the overview is in summary mode */
.repository-overview.summary .repositiory-description,
.repository-overview.summary .full-name-link,
.repository-overview.summary hr:not(.subtitle),
.repository-overview.summary  .repository-stats-list li {
  display: none;
}

.repository-overview.summary  .repository-stats-list li.summary-visible {
  display: block;
}
