/**
  file: utils.css
  authors: Sathiya Kirushnapillai & Mathieu Monteverde

  Style for the MISC.
*/

/* Full screen height */
.display-height {
  height: 100vh;
}

/* Light background */
.light-bg {
  background-color: #feece0;
}

/* White background */
.white-bg {
  background-color: white;
}

/* Pattern backgrounds */
.pattern-bg-white {
  background-image: url('../img/pattern_bg_white.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.pattern-bg-light {
  background-image: url('../img/pattern_bg_light.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Large padding */
.padding-lg {
  padding: 15% 0;
}

/* Medium padding */
.padding-md {
  padding: 10% 0;
}

/* Small padding */
.padding-sm {
  padding: 5% 0;
}

/* Vers small padding */
.padding-xs {
  padding: 2.5% 0;
}

/* Large margin */
.margin-lg {
  margin: 15% 0;
}

/* Medium margin */
.margin-md {
  margin: 10% 0;
}

/* Small margin */
.margin-sm {
  margin: 5% 0;
}

/* Vers small margin */
.margin-xs {
  margin: 2.5% 0;
}

/* Shadow */
.box-shadow {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

/* Line separators */
hr {
  display: block;
  width: 200px;
  height: 2px;
  background-color: #333;
}
hr.light {
  background-color: white;
}

/* Basic icon list item */
.icon-list-item {
  font-size: 1em;
  padding-left: 2em;
  background-size: 1em;
  background-position: 0.5em center;
  background-repeat: no-repeat;
}

/* Icons */
.last-update-icon {
  background-image: url('../img/last_updated_icon.svg');
}
.contributor-icon {
  background-image: url('../img/contributor_icon.svg');
}
.commit-icon {
  background-image: url('../img/commit_icon.svg');
}
.issue-icon {
  background-image: url('../img/issue_icon.svg');
}
.fork-icon {
  background-image: url('../img/fork_icon.svg');
}
