<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Compare | Choose your repositories</title>

    <% include ../partials/head %>
  </head>
  <body>

    <% include ../partials/header %>

    <section class="container-fluid">

      <% include ../partials/repository_selection %>

    </section>

    <% include ../partials/footer %>
  </body>
</html>
