<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Compository | Compare GitHub Repositories with ease !</title>

    <!-- Jquery -->
    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap-theme.min.css">

    <!-- Application CSS -->
    <link rel="stylesheet" href="/views/css/utils.css">
    <link rel="stylesheet" href="/views/css/page_cover.css">
    <link rel="stylesheet" href="/views/css/landing_page.css">
    <link rel="stylesheet" href="/views/css/repository_selection.css">


    <!-- Bootstrap .js file -->
    <script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body>

    <section class="container-fluid">

      <!-- Landing page cover -->
      <section class="row text-center display-height landing-page-cover page-cover">
        <article>
          <h1>Compository</h1>
          <h2>The tool to compare the activity of GitHub repositories.</h2>
        </article>
        <article class="call-to-action">
          <button type="button" data-scroll-target="about" class="scroll-action btn btn-secondary btn-lg">What's the point ?</button>
          <button type="button" data-scroll-target="compare" class="scroll-action btn btn-primary btn-lg">Start Comparing !</button>
        </article>
      </section>

      <!-- About & Purpose section -->
      <section id="about" class="row pattern-bg-light  padding-md text-center">
        <article class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 white-bg padding-sm box-shadow text-justify">
          <h1 class="text-center">What's the point ?</h1>
          <hr />
          <section class="row">
            <article class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur augue nunc, porta ac nunc et, convallis sodales felis.
                Integer vitae ex quam. Fusce rhoncus lectus nec augue vestibulum, at tincidunt leo molestie.
                Fusce convallis ut urna in dictum. Phasellus dignissim tempus nunc, et viverra nulla hendrerit eu.
              </p>
              <p>
                Curabitur at massa at dolor efficitur lobortis.
                Pellentesque est tellus, placerat ut dui vel, pulvinar mattis erat.
              </p>
              <article class="text-center">
                <button type="button" data-scroll-target="compare" class="btn btn-primary btn-lg margin-sm scroll-action">Start Comparing !</button>
              </article>
            </article>
          </section>
        </article>
      </section>

      <!-- Compare section -->
      <section id="compare" class="row padding-md text-center">
        <article class="white-bg col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center box-shadow padding-sm">
          <h1>Compare repositories</h1>
          <hr/>

          <section class="row">
            <article class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">

              <!-- Alert for empty repository input -->
              <div id="alert-empty-repository" class="alert alert-warning alert-dismissible collapse" role="alert">
                You must enter a repository.
              </div>

              <!-- Alert for existing repository input -->
              <div id="alert-exist-repository" class="alert alert-warning alert-dismissible collapse" role="alert">
                This repository is already selected !
              </div>

              <!-- Input UI -->
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">https://github.com/</span>
                <input type="text" class="form-control repository-input" placeholder="username/repository" aria-label="username/repository" aria-describedby="basic-addon1">
                <span class="input-group-addon" id="add-repository">Add</span>
              </div>
              <button id="compare-button" type="button" class="btn btn-primary btn-lg disabled margin-sm">Compare...</button>

              <!-- List of repositories to compare -->
              <article class="repository-list text-left">
                <h5>Repositories to compare:</h5>
                <ul class="list-group">
                  <li class="list-group-item repository-list-item-template">
                    <span class="url"></span>
                    <span class="control control-delete">remove</span>
                  </li>
                </ul>
              </article>

            </article> <!-- End of nested column -->
          </section> <!-- End of nested row -->

        </article>

      </section>

    </section>


    <!-- Scripts entry point -->
    <script type="text/javascript" src="/views/js/scripts.js"></script>
  </body>
</html>
