<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Compository | Compare GitHub Repositories with ease !</title>

    <!-- Jquery -->
    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.theme.min.css">

    <!-- Application CSS -->
    <link rel="stylesheet" href="/views/css/utils.css">
    <link rel="stylesheet" href="/views/css/page_cover.css">
    <link rel="stylesheet" href="/views/css/landing_page.css">


    <!-- Bootstrap .js file -->
    <script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body>

    <section class="col-md-12 text-center display-height landing-page-cover page-cover align-middle">
      <article>
        <h1>Compository</h1>
        <h2>The best tool to compare the activity of GitHub repositories</h2>
      </article>
      <article class="call-to-action">
        <button type="button" class="btn btn-secondary btn-lg">What's the point ?</button>
        <button type="button" class="btn btn-primary btn-lg">Start Comparing !</button>
      </article>
    </section>



  </body>
</html>
