<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Compository | Compare GitHub Repositories with ease !</title>

    <!-- Jquery -->
    <script type="text/javascript" src="../../nodes_modules/jquery/dist/"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../nodes_modules/bootstrap/dist/css/bootstrap.min.css">

    <!-- Bootstrap .js file -->
    <script type="text/javascript" src="../../nodes_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body>

    <section class=".col-md-12">
      <h1>Compository</h1>
      <h2>The best tool to compare GitHub repositories</h2>
    </section>



  </body>
</html>
